#threadView {
    z-index: 0;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto 1fr;
    padding-left: 45px;
    padding-right: 45px;
    z-index: 10;
}

    #threadView > header {
        background-image: url('/webview/img/awfulnet-large-bw.png');
        background-attachment:fixed;
        background-repeat:repeat;
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        display: -ms-grid;
        -ms-grid-rows: 1fr;
        -ms-grid-columns: 1fr;
    }

    #threadView .header .header-background {
        background: -ms-linear-gradient(left, rgba(0,0,0,1) 60%,rgba(0,0,0,0) 100%); /* IE10+ */
        -ms-grid-row-align: stretch;
        -ms-grid-column-align: stretch;
    }

    #threadView .header .text {
        padding-top: 60px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        -ms-grid-row-align: center;
        -ms-grid-column-align: stretch;
    }

            #threadView .header .text .article-title {
                margin-top: 4px;
            }

            #threadView .header .text .article-subtitle {
                margin-top: 4px;
                text-transform: capitalize;
            }

    #threadView #postContainer {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    /* posts are represented as #threadView articles */
    #threadView article {
        display: block;
        background-color : rgba(255, 255, 255, 0.10);
        margin-bottom: 6px;
        padding: 15px;
    }

    #threadView article.ignored {
        
    }

    #threadView article:first-child {
     
    }

        /* posts marked as read */
        #threadView article.seen {
        }

        #threadView article:last-of-type footer .post-separator {
            height: 0px;
        }

        #threadView article a {
        }

        #threadView article > header {
            /*IE 11*/
            display: -ms-grid;
            -ms-grid-columns: auto 1fr;
            -ms-grid-rows: minmax(180px, auto) auto auto;
        }

            #threadView article > header .text {
                -ms-grid-row-align: start;
            }

                #threadView article > header .author-container {
                    -ms-grid-column: 2;
                }

                #threadView article > header .avatar-text-container {
                    margin-top: 4px;
                    -ms-grid-column-span: 2;
                    -ms-grid-row: 2;
                }

                #threadView article > header .date-container {
                    margin-top: 4px;
                    -ms-grid-row: 3;
                    -ms-grid-column-span: 2;
                }

            #threadView article > header .av {
                width: 72px;
                height: 72px;
                margin-right: 25px;
                -ms-grid-row-align: start;
            }

        #threadView article .post-separator {
            height: 1px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            background-color: #808080;
        }

.article-content {
    padding-top: 15px;
    font-size: larger;
}

    .article-content blockquote {
        margin: 0 0 1.6em 0.8em;
        padding: 0 1em 0 1em;
        border-left: 2px solid #808080;
        font-size: smaller;
    }

            /*
                #threadView article .article-content blockquote:first-child {
                    display: inline;
                }

                #threadView article .article-content blockquote:before {
                    content: open-quote;
                    font-size: larger;
                    font-weight: bold;
               }
            */

    .article-content .bbc-spoiler {
    }

    .article-content .long-link {
        word-wrap: break-word;
        width: inherit;
        -ms-word-break: break-all;
        word-break: break-all;
        hyphens: auto;
        -ms-hyphens: auto;
    }

    .article-content .editedby {
        font-size: smaller;
        font-weight: lighter;
    }

    .article-content .youtube-player {
        max-width: 100%;
    }

    .article-content img {
        max-width: 90%;
        height: auto;
    }

        /* Post Options */
        #threadView article > footer ul {
            padding: 0;
            margin: 2em auto;
            list-style: none;
            text-align: center;
            font-weight: lighter;
        }

            #threadView article > footer ul li {
                display: inline;
            }

                #threadView article > footer ul li a {
                    padding: 0.2em 1em;
                    text-decoration: none;
                    background-color: dodgerblue;
                    color: white;
                }

                #threadView article > footer ul li a:hover {
                    background-color: white;
                    color: dodgerblue;
                }

                #threadView article > footer ul li:first-child {
                }

.unveil-img {
    opacity: 0;
    transition: opacity .3s ease-in;
    border: 1px solid silver;
}

/* dark theme */
.dark {
    color: #f0f0f0;
}

    .dark #postContainer {
        background-color: #404040;
    }

    .dark .post-separator {
        background-color: #808080;
    }

    .dark .seen {
        color: dodgerblue;
    }

@media (max-width: 639px) {
    #threadView {
        padding-left: 0px;
        padding-right: 0px;
    }
}
